<h3>Comments</h3>
{% for comment in object.comments.all %}
    <p>{{ comment.author.username }}: {{ comment.content }}</p>
    {% if user == comment.author %}
        <a href="{% url 'comment-update' comment.pk %}">Edit</a>
        <a href="{% url 'comment-delete' comment.pk %}">Delete</a>
    {% endif %}
{% empty %}
    <p>No comments yet.</p>
{% endfor %}

{% if user.is_authenticated %}
    <h4>Add a comment</h4>
    <form action="{% url 'comment-create' object.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> to post a comment.</p>
{% endif %}
